{
  "plugins": ["import"],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-non-null-asserted-optional-chain": "off",
    "jest/no-done-callback": "off",
    "jest/no-conditional-expect": "off",
    "complexity": ["error", 7],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "sort-imports": [
      "error",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
      }
    ],
    "no-multiple-empty-lines": 2,
    "no-trailing-spaces": 2
  },
  "overrides": [
    {
      "files": ["*.js", "*.ts"]
    }
  ],
  "ignorePatterns": ["*coverage/", "jest.config.ts"]
}
